<h1>Share Music</h1>
<p>Find your friends. See what they're listening to.</p>
<p>Rate. Listen. Repeat.</p>
<div class="grid_6">
  <h2>Sign up</h2>
  <%= render :partial => 'users/form'%>
</div>
<div class="grid_6">
  <h2>Already a Member? Log in</h2>
  <%= render :partial => 'user_sessions/form'%>
</div>
